<header>
    <h1>Bienvenidos a la Clínica Ejemplo</h1>
  </header>
  
  <main>
    <section class="hero">
      <div class="hero-content">
        <h2>Cuida tu salud con nosotros</h2>
        <p>Ofrecemos los mejores servicios médicos para ti y tu familia.</p>
      </div>
    </section>
  </main>
  
  
  

<footer>
    <div class="footer-content">
      <div class="section">
        <h2>Quiénes Somos</h2>
        <ul>
          <li><a href="#">Fundación Galeno</a></li>
          <li><a href="#">Capital Humano</a></li>
          <li><a href="#">Staff</a></li>
        </ul>
      </div>
      <div class="section">
        <h2>Nuestros Sanatorios</h2>
        <ul>
          <li><a href="#">Sanatorios Propios</a></li>
          <li><a href="#">Centros Médicos</a></li>
          <li><a href="#">Centros de Vacunación</a></li>
        </ul>
      </div>
      <div class="section">
        <h2>Planes de Salud</h2>
        <ul>
          <li><a href="#">Plan 220</a></li>
          <li><a href="#">Plan 330</a></li>
          <li><a href="#">Plan 440</a></li>
          <li><a href="#">Plan 550</a></li>
          <li><a href="#">Plan 18-25</a></li>
          
        </ul>
      </div>
      <div class="section">
        <h2>Servicios</h2>
        <ul>
          <li><a href="#">Club de Beneficios</a></li>
          <li><a href="#">Salud Mental</a></li>
          <li><a href="#">Sanatorios y Centros Médicos</a></li>
          <li><a href="#">Servicios Digitales y Gestión on-line</a></li>
          <li><a href="#">Planes y Cobertura Médica</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Clinica Argentina S.A. CUIT: 30-52242216-3. Elvira R. de Dellepiane 150, 11º PISO, C.A.B.A.</p>
      <p>Todos los derechos reservados</p>
      <div class="social-icons">
        <a href="#"><img src="assets/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="assets/instagram-icon.png" alt="Instagram"></a>
        <a href="#"><img src="assets/whatsapp-icon.png" alt="WhatsApp"></a>
      </div>
    </div>
  </footer>
  