#grafico-container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .btn-volver {
    background-color: #0400ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-volver:hover {
    background-color: #1e247e;
  }

  canvas {
    width: 100%;
    height: 400px; /* O el tamaño que necesites */
  }